<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39080773295-fedihdmhcam4ihnkvjspv3olacdvl9ia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39080773295-fedihdmhcam4ihnkvjspv3olacdvl9ia</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>39080773295-7f1raj93kns2ipjebqrulgspobfstdr2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVZ0aibkjqCH12L0ZOpIe_Z0Tgz7JPWMA</string>
	<key>GCM_SENDER_ID</key>
	<string>39080773295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.astound.SaxatSavita</string>
	<key>PROJECT_ID</key>
	<string>saxat-savita-crashanalytics</string>
	<key>STORAGE_BUCKET</key>
	<string>saxat-savita-crashanalytics.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39080773295:ios:4e8e19d9e7db917051f65a</string>
	<key>DATABASE_URL</key>
	<string>https://saxat-savita-crashanalytics-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>